@page
@model IndexModel
@{
    ViewData["Title"] = "Fizz Buzz";
}
<div class="text-left">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label asp-for="FizzBuzz.Number"></label>
        <input asp-for="FizzBuzz.Number" class="form-control"/>
        <button type="submit" class="btn btn-primary">Zatwierdź</button>
    </form>
    <span asp-validation-for="FizzBuzz.Number" class="text-danger"></span>

    @if (Model.FizzBuzz.Number != null && (Model.FizzBuzz.Number > 0 && Model.FizzBuzz.Number < 1001))
    {
        @if (Model.FizzBuzz.Number % 3 == 0 && Model.FizzBuzz.Number % 5 == 0)
        {
            <div class="alert alert-success" role="alert">
                FizzBuzz
            </div>
        }
        else if (Model.FizzBuzz.Number % 3 == 0)
        {
            <div class="alert alert-success" role="alert">
                Fizz
            </div>
        }
        else if (Model.FizzBuzz.Number % 5 == 0)
        {
            <div class="alert alert-success" role="alert">
                Buzz
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Liczba: @Model.FizzBuzz.Number nie spełnia kryteriów FizzBuzz
            </div>
        }
    }
</div>
