@page
@model IndexModel
@{
    ViewData["Title"] = "Fizz Buzz";
}
<div class="text-left">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label asp-for="FizzBuzz.Number"></label>
        <input asp-for="FizzBuzz.Number" class="form-control"/>
        <button type="submit" class="btn btn-primary">Zatwierdź</button>
    </form>
    <span asp-validation-for="FizzBuzz.Number" class="text-danger"></span>

    @if (ViewData["Message"] != null && Model.FizzBuzz.Number % 3 != 0 && Model.FizzBuzz.Number % 5 != 0)
    {
        <div class="alert alert-warning" role="alert">
            @ViewData["Message"]
        </div>
    }
    else if (ViewData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewData["Message"]
        </div>
    }
</div>
